.bg-img-roadmap {
  background-image: url("../assets/Roadmap.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10vh 0;
}

.bg-img-about {
  background-image: url("../assets/About.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10vh 0 0 0;
}

.padding-lr-5 {
  padding-left: 10px;
  padding-right: 10px;
}

.about-mark-img {
  margin : 5vw;
  width: 25%;
  height: auto;
}

.center {
  margin: auto;
}

.triple-width {
  width: 33.3%;
}

.ocean-banner {
  width: 100%;
  background-image: url("../assets/Ocean.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  padding: 15vh 0;
}

.ocean-banner-title {
  font-size: 50px;
}
.ocean-banner-body {
  width: 100%;
  background-image: url("../assets/ocean-bg1.png");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
}

.ocean-banner-bottom {
  width: 100%;
  background-image: url("../assets/ocean-bottom-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5vh 0;
}
.ocean-body-abstract {
  width: 100%;
  padding: 10vh 0;
}

.img-original {
  width: 100%;
  height: auto;
}